<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppdai.lma.dao.ppdaiAudit.AdminActivityLogMapper">
    <insert id="insertLog" parameterType="com.ppdai.lma.model.entity.AdminActivityLogEntity">
        INSERT INTO ppdai_audit..Admin_ActivityLog(OperatorUserID,
        OperatorUser,EventType,Description,Reason,IP,CreateDate)
        VALUES(#{operatorUserID}, #{operatorUser}, #{eventType}, #{description},#{reason}, #{ip},CURRENT_TIMESTAMP)
    </insert>

    <select id="selectAdminActivityLogs" resultMap="adminActivityLogMap">
        SELECT top 30 * FROM ppdai_audit..Admin_ActivityLog
        ORDER BY createDate DESC
    </select>

    <resultMap id="adminActivityLogMap" type="com.ppdai.lma.model.entity.AdminActivityLogEntity">
        <id property="sysNo"  column="sysNo" javaType="java.lang.Integer" />
        <result property="operatorUserID" column="operatorUserID" javaType="java.lang.Integer"/>
        <result property="operatorUser" column="operatorUser" javaType="java.lang.String"/>
        <result property="eventType" column="eventType" javaType="java.lang.Integer"/>
        <result property="description" column="description" javaType="java.lang.String"/>
        <result property="reason" column="reason" javaType="java.lang.String"/>
        <result property="ip" column="ip" javaType="java.lang.String"/>
        <result property="createDate" column="createDate" javaType="java.util.Date"/>
    </resultMap>
</mapper>